<ngb-carousel class="carousel-home">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-car" src="assets/image_01.png" alt="Random first slide" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-car" src="assets/image_02.jpg" alt="Random first slide" />
    </div>
  </ng-template>
</ngb-carousel>

<div class="container container-cards">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">Viajeros</div>
        <div class="card-body">
          <h5 class="card-title">Gestiona tus viajeros</h5>
          <p class="card-text">
            Accediendo a esta sección podras administrar todos tus viejeros
          </p>
          <a href="#" class="btn btn-primary">Viajeros</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">Actividades</div>
        <div class="card-body">
          <h5 class="card-title">Gestiona todas tus actividades</h5>
          <p class="card-text">
            Desde aquí podras controlar todas tus actividades
          </p>
          <a class="btn btn-primary" (click)="routToActivities()"
            >Actividades</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
