<h3>New activity</h3>

<form [formGroup]="activityForm" (ngSubmit)="createActivity()">
  <div class="row">
    <div class="col col-6">
      <!--Nombre-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="name">Nombre</label>
        <input
          novalidate
          id="name"
          class="form-control"
          formControlName="name"
          placeholder="Nombre"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            activityForm.get('name')!.hasError('required') &&
            activityForm.get('name')!.touched
          "
        >
          Campo requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="activityForm.get('name')!.hasError('minlength')"
        >
          Minimo 5 caracteres
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row pt-2 pb-2">
      <div class="col-6">
        <button type="button" class="btn btn-primary mt-2 pl-2" type="submit">
          Create
        </button>
      </div>
      <div class="col-6">
        <button
          type="button"
          class="btn btn-danger mt-2 pl-2"
          (click)="cancelForm()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
